@mixin inter400 {
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

@mixin inter500 {
    font-family: "Inter", sans-serif;
    font-weight: 500;
}

@mixin inter600 {
    font-family: "Inter", sans-serif;
    font-weight: 500;
}

@mixin inter700 {
    font-family: "Inter", sans-serif;
    font-weight: 500;
}

// ===========================

@mixin roboto400 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

@mixin roboto500 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

@mixin roboto600 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

@mixin roboto700 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}