@import './../../SCSS/mixins';
@import './../../SCSS/vars';

.section {

    & .container {
        background: rgba(0, 0, 0, 0.2);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 2;
        padding: 170px 20px 0 140px;
        min-height: auto;

        @media(max-width:834px) {
            bottom: auto;

        }

        & .wrapper {
            height: 100vh;
            display: flex;
            align-items: stretch;
            justify-content: space-between;
            gap: 22px;

            @media(max-width:834px) {
                flex-direction: column;
                gap: 100px;
            }

            & .box {
                position: relative;
                border-radius: 18px;
                flex: 1;
                background: $bg;
                max-height: 800px;
                padding: 22px 50px 32px 32px;

                & .search_employee {
                    @include roboto400;
                    width: 315px;
                    background: $bg;
                    border-radius: 12px;
                    position: absolute;
                    right: 0;
                    transform: translateY(-80px);
                    padding: 5px 10px;
                }


                & .list {
                    padding-right: 20px;
                    height: 90%;
                    overflow-y: auto;
                    display: flex;
                    flex-direction: column;
                    gap: 16px;

                    &::-webkit-scrollbar {
                        width: 12px;
                        background: transparent;
                    }

                    &::-webkit-scrollbar-thumb {
                        background-color: #ECEBED;
                        border-radius: 12px;
                        border: 2px solid #ffffff;
                    }

                    &::-webkit-scrollbar-track {
                        background: transparent;

                        border-radius: 10px;
                    }
                }

                & .title {
                    @include roboto600;
                    color: $font_color;
                    font-size: 23px;
                    margin-bottom: 32px;
                }


            }
        }
    }
}